<html>
<head>
<title> </title>
</head>

<body> 


<table border='2px'>
     
</table>

<hr> 
<hr> 

<form method="post" action="/editdata_kategori/<%= id %>">
   Kategori <input type='text' name='kategori' placeholder='edit kategori'/>
    <input type='submit' value='simpan'/>
</form>

</body>


</html>
