<html>
<head> 
    <title> </title>
</head>

<body>

        <h3> <% include ../userlogin/header.ejs%>
        <ul> 
        <br>
        <br>
        <h3> Silahkan Pilih Kategori : </h3>
    <% kategori.forEach(function(a){%>
        
            <li>  <a href = '/subkategori/<%=a.id%>'>     <%= a.season %> </a> </li>
    <% })%>
        
        </ul>

</body>



</html>
